---
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import { cn, formatDate } from "@/lib/utils";
import { Icon } from "astro-icon";
import type { CollectionEntry } from "astro:content";
import MainLayout from "./main-layout.astro";
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faEye } from '@fortawesome/free-solid-svg-icons'
import '@waline/client/style';
import HoverCard from '@/components/HoverCardD';
import DominantColorExtractor from '@/components/DominantColorExtractor';

import "@fancyapps/ui/dist/fancybox/fancybox.css";

type Props = CollectionEntry<"blog">;

const slug = Astro.props.slug;
const { title, description, pubDate, updatedDate, coverImage, category, tdes, pixiv, tsrc, username, thref, tpubDate} =
  Astro.props.data;
---

<MainLayout title={title} description={description}>
  <DominantColorExtractor imageUrl={coverImage} client:load>
  <div class="relative container max-w-screen-md py-10">
    <a
      href="/blog"
      class={cn(
        buttonVariants({ variant: "ghost" }),
        "text-muted-foreground absolute left-[-200px] top-10 hidden cursor-pointer items-center rounded-md border-2 border-black bg-[#bc95d4] px-10 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none xl:inline-flex"
      )}
      transition:animate="slide"
    >
      <Icon name="lucide:chevron-left" class="mr-2 size-4" />
       看所有的帖子
    </a>

    <article class="prose dark:prose-invert max-w-none">
      <a href={`/blog/category/${category}`}>
        <Badge
          radius="md"
          className="capitalize w-min rounded-full border-2 border-black bg-[#bc95d4] px-3 py-1.5 text-sm font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none"
          transition:name={"category-" + slug}
        >
          {category}
        </Badge>
      </a>
      <Badge radius="md" className="waline-pageview-count capitalize w-[48px] rounded-full border-2 border-black bg-[#bc95d4] px-3 py-1.5 text-sm font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none" data-path="">
        <FontAwesomeIcon icon={faEye} />
      </Badge>
      <a data-fancybox data-src={coverImage}>
      <img
        class="rounded-xl overflow-hidden my-6"
        width={1020}
        height={510}
        src={coverImage}
        alt=""
        transition:name={"img-" + slug}
      />
    </a>
      <div class="flex items-center justify-between">
        <span
          class="font-medium text-muted-foreground"
          transition:name={"date-" + slug}
        >
          {formatDate(pubDate)}
          {
            updatedDate && (
              <span>- Last updated on {formatDate(updatedDate)}</span>
            )
          }
        </span>
      </div>
      <h1 class="font-heading text-4xl my-4" transition:name={"title-" + slug}>
        {title}
      </h1>
      <p>{description}</p>
        <div class="flex flex-grow gap-2 gird">
          <HoverCard thref={thref} tsrc={tsrc} username={username} tdes={tdes} tpubDate={tpubDate} pixiv={pixiv} client:load/>
        </div>
      <hr class="my-6" />
      <slot />
    </article>
  </div>
  <div id="waline"></div>
    <script type="module">
      import { init } from 'https://cdnjs.cloudflare.com/ajax/libs/waline/3.0.0-alpha.10/waline.js';
    
      init({
      el: '#waline',
      serverURL: 'https://your-domain.vercel.app',
      pageview: true,
    });
    </script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.esm.js";

      Fancybox.bind('[data-fancybox]', {
        //
      });    
    </script>
    </DominantColorExtractor>
</MainLayout>